#Database
DATABASE_URL="url"

#JWT
JWT_SECRET=secret

#Mail
RESEND_API_KEY=re_7...
EMAIL_FROM=no.reply@...

#RMQ
RABBITMQ_URL=url

#Cloudnary
CLOUDNARY_CLOUD_NAME=name
CLOUDNARY_API_KEY=key
CLOUDNARY_API_SECRET=secret

#App
PORT=some_number
URL_BASE=urlbase
NODE_ENV=development